<footer>
    <div class="secion-footer">
        <!-- <div class="news-letter"> -->
        <div class="paid-method">
           <h5>Métodos de pago</h5>
           <i class="fab fa-paypal" title="PayPal"></i>
           <i class="fab fa-bitcoin" title="BitCoin"></i>
           <i class="far fa-credit-card" title="Credit Card"></i>
           <!-- <ul class="ul-news">
               <li><a href="#">Nuevos Lanzamientos</a></li>
               <li><a href="#">Lo que es tendencia</a></li>
               <li><a href="#">Promociones</a></li>
           </ul> -->
        </div>
        
        <div class="social-media">
           <h5>Redes Sociales</h5>
           <i class="fab fa-facebook-square"></i>
           <i class="fab fa-twitter-square"></i>
           <i class="fab fa-instagram-square"></i>
        </div>
        <div class="contact">
           <h5>Contacto</h5>
           <ul>
               <li><i class="fas fa-home"></i> Av Santa Fe 3000</li>
               <li><i class="fas fa-envelope"></i> contact@fdmk.com</li>
               <li><i class="fas fa-mobile-alt"></i> 11 15 9343-2344</li>
           </ul>            
        </div>
    </div>
</footer>