<header>
    <div class="main-menu">
       <div class="header-top">
           <div class="form-search">
               <form action="#" method="get" class="search-fm">
                   <input type="text" name="search-prod" id="search-prod" max-length="120" class="form-control-header">
               </form>
           </div>
           <nav class="nav-create-login">
               <i class="fas fa-user-plus"></i>
               <a href="/user/registro">Crea cuenta</a>
               <i class="fas fa-sign-in-alt"></i>
               <a href="/user/login">Login</a>
           </nav>
       </div>
       <div class="header-bottom">
           <div class="logo">
               <a href="/"><img src="/images/LogoFDMK.png" alt="Logo de tienda"></a>
           </div>
           <div class="login-menu-hamb">
               <!-- <div class="logo">
                   <img src="/images/LogoFDMK.png" alt="Logo de tienda">
               </div> -->
               <div class="content-hamb-menu">
                   <a href="#" class="hamburger-button">
                       <i class="fas fa-bars"></i>
                   </a>
               </div>             
           </div>         
               <nav class="nav-top-bottom">
                   <ul class="content-menu-top-bottom">
                       <li><a href="#">Ofertas</a></li>
                       <li><a href="#">Decoración</a></li>
                       <li><a href="/producto/listado">Productos</a></li>
                       <li><a href="/producto/agregar">Agregar producto</a></li>
                       <li><a href="#">Cocina</a></li>
                       <li><a href="#">Baño</a></li>
                       <li><a href="#">Ayuda</a></li>
                   </ul>
               </nav>         
           <div class="cart-option-menu">
               <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
           </div>

       </div>
   </div>
</header>