<header>
    <div class="main-menu">
       <div class="header-top">
           <div class="form-search">
               <form action="/producto/search" method="get" class="search-fm" id="searchProduct">
                   <input type="text" name="searchProd" id="searchProd" max-length="120" class="form-control-header" placeholder="Ingrese un nombre o letra para buscar su producto">
                   <button type="submit" form="searchProduct"> <i class="fas fa-search"></i></button>
                  
               </form>
           </div>
           <nav class="nav-create-login">
               
               <% if (locals.isUserlogged) { %>
                <a href="/user/profile"> <i class="fas fa-user"></i> Hi! <%= locals.userLogin?.name + ' ' + locals.userLogin?.lastname%> </a>
                <a href="/user/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
               <% } else { %>
                 <a href="/user/registro"><i class="fas fa-user-plus"></i>Crea cuenta</a>
                 <a href="/user/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                 <% } %>
           </nav>
       </div>
       <div class="header-bottom">
           <div class="logo">
               <a href="/"><img src="/images/LogoFDMK.png" alt="Logo de tienda"></a>
           </div>
           <div class="login-menu-hamb">
               <!-- <div class="logo">
                   <img src="/images/LogoFDMK.png" alt="Logo de tienda">
               </div> -->
               <div class="content-hamb-menu">
                   <a href="#" class="hamburger-button">
                       <i class="fas fa-bars"></i>
                   </a>
               </div>             
           </div>         
               <nav class="nav-top-bottom">
                   <ul class="content-menu-top-bottom">
                        <!-- si user admin puede agregar prodcutos -->
                        <% if (locals.userLogin && locals.userLogin.roles !== undefined) { %>
                            <li><a href="/producto/agregar">Agregar producto</a></li>
                        <% } %>
                        <% if (locals.userLogin && locals.userLogin.roles !== undefined) { %>
                            <li><a href="/user/listado">Listado de usuarios</a></li>
                        <% } %>  
                        <li><a href="/producto/listado">Productos</a></li>                     
                        <li><a href="#">Ofertas</a></li>
                       <li><a href="#">Decoración</a></li>
                       <li><a href="#">Cocina</a></li>
                       <li><a href="#">Baño</a></li>
                       <% if ( locals.userLogin && locals.userLogin.roles.name !== 'Admin') { %>
                        <li><a href="#">Ayuda</a></li>
                    <% } %>

                   </ul>
               </nav>         
           <div class="cart-option-menu">
               <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
           </div>

       </div>
   </div>
</header>