node_modules/

package.json
package-lock.json

controllerEjemplo.js
mainControllerCopy.js

logDBMiddleware.js
logMiddleware.js

main.js
mainRoutesCopy.js
rutaEjemplo.js


productListCopy.ejs
productListPrueba.ejs
registerEjemplo.ejs

userResultEjemplo.ejs


productsPrueba.css


log.txt
logDB.txt


Pelicula.js
movies.js
moviesController.js
movies.ejs
detallePelicula.ejs
peliculasDrama.ejs
top.ejs
crearPelicula.ejs
editarPelicula.ejs
env
.env
 public/images
 public/images/products/
