node_modules/
userList.ejs
package.json
package-lock.json

userResultEjemplo.ejs
registerEjemplo.ejs
productListPrueba.ejs

controllerEjemplo.js
mainControllerCopy.js

homeCopy.ejs
rutaEjemplo.js
mainRoutesCopy.js
rutaEjemplo.js

productsPrueba.css

logDBMiddleware.js
logMiddleware.js

log.txt
logDB.txt