node_modules/

package.json
package-lock.json

controllerEjemplo.js
mainControllerCopy.js

logDBMiddleware.js
logMiddleware.js

main.js
mainRoutesCopy.js
rutaEjemplo.js


productListCopy.ejs
productListPrueba.ejs
registerEjemplo.ejs
userList.ejs
userResultEjemplo.ejs


productsPrueba.css


log.txt
logDB.txt