<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
</head>
<body>
    <h1>Listado de Peliculas</h1>
    <ul>
        <% for( let index = 0; index < peliculas.length; index++ ) { %>
            <li>
                <a href="/movies/<%= peliculas[index].id %> ">
                    <%= peliculas[index].title %> 
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>