/* AQUI INICIA ESTILOS GENERALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
 list-style: none;
 text-decoration: none;
}

html{
    height: 100%;
}

body{
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

article{
    width: 90%;
    margin: auto;
}

/* AQUI TERMINA ESTILOS GENERALES */

/* ************************************ */
/* ==================================== */

/* AQUI INICIA HEADER */

/* .main-menu{
    width: 100%;
    position: absolute;
} */

main{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* position: fixed;
    width: 100%; 
    z-index: 10; */
    padding: 10px;
    background-color: #42938E; /* #6DADE0; */
    
}


.header-bottom{
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* position: relative;
    top:30px;
    width: 100%;
    z-index: 9; */
    
      /* flex-wrap: wrap;*/ 
    padding: 5px;
    
}

.form-search input{
    padding: 0 10px;
    height: 35px;
}

.form-search input:focus-visible{
    outline: none;
}

.header-top a, i{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.header-top .nav-create-login a:first-child{
    padding-right: 20px;
}

.header-top .nav-create-login a i{
    padding-right: 4px;
}


.div-relleno{    
    display: none;
}

.login-menu-hamb{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.content-hamb-menu{
    width: 10%;
    margin-right: 10px;
}

.hamburger-button{
    background-color: #42938E;
    color: white;
    display: block;
    max-width: 40px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin: auto;
}

.logo{
    padding: 10px; 
  
}

.logo img{
    width: 50px;
    border-radius: 50%;
    transition: width, 0.5s;
}

.nav-top-bottom{
    display: none;
}

.nav-top-bottom ul{
    list-style-type: none;
    
}

.nav-top-bottom a{
    text-decoration:none;
    color: #424242;
}

/* .form-control{
    margin-bottom: 15px;  
}

.create-form{
    padding: 20px 15px;
    max-width: 850px;
    width: 100%;
    margin-top: 20px;
} */

/* ==========*/
.cart-option-menu{
    display: none;
}

.form-search input{
    height: 35px;
}

.form-control-header{
    border: 0;
    width: 100%;
    border-radius: 7px;
    
}

/* .control{
    width: 100%;
    padding: 8px;
}

.button-form{
    background-color: #42938E;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}
/* ========*/
/* .button-form:hover {
    background-color: turquoise;
}

.text-center{
    text-align: center;
}

.crearCuenta:hover{
    color: #6DC4E0;
} */
/* AQUI TERMINA HEADER */

/* ************************************ */
/* ==================================== */

/* AQUI INICIA MAIN */

/* .banner-main{
    position: relative;
    top:125px;
} */
.banner-main img{
    width: 90%;
    display: flex;
    margin: auto;
}
.banner-main{
    margin-bottom: 40px;
}

/*=========*/
.title-hot-sale, .title-week-sale, 
.title-new-sale{
    background-color: #fff;
    margin-top: 15px;
    padding: 5px 0px;
    text-align: center;
    color: #42938e;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    margin-bottom: 20px;
}


.title-hot-sale{
    background-color: #fff;
    margin-top: 15px;
    padding: 5px 0px;
    text-align: center;
    color: #42938e;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.title-user-list{
    color: #42938E;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 14px;
    text-align: center;

}

.description-hot-sales, .description-new-sales{
    padding: 10px;
}

.description-hot-sales p
, .description-new-sales p{
    text-align: center;
    color: #545454;
    font-size: 17px;
}
.description-new-sales p{
    text-align: justify;
    color: #545454;
    font-size: 17px;
}

.products-hot, .products-week, .products-new{
    padding: 10px;
}

.product-image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.product-detail i {
    display: block;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 18px;
}

.product-detail, h4{
    padding:0 10px 0px 10px;
    color: rgb(110, 109, 109);
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 15px;
}

.product-detail .price{
    flex-grow: 3;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5px;
}

.product-detail .discount{
    flex-grow: 7;
    color: #fff;
    letter-spacing: 0.5px;
}

.product-detail i{
    color: #fff;
    font-size: 16px;
}

.products-hot article, .products-week article, .products-new article{
    
    background-color: rgb(66 147 142);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.products-new article{
border-radius: 7px;
}

.products-hot{
  min-height: 480px; 
}

.products-hot article,
.products-week article{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}
.products-hot article a,
.products-week article a{
    width: 100%;
    overflow: hidden;
    flex: 0.9;
}
.products-hot article:hover,
.products-week article:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.02);
}
.products-hot article .product-detail,
.products-week article .product-detail{
    border-top: 3px solid #42938e;
}
.products-hot article a img,
.products-week article a img{
    display: flex;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.products-hot article .product-detail,
.products-week article .product-detail{
    width: 100%;
    flex: 0.1;
}

/* .main-form{
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-form main{
    width: 60%;
    margin: 20px 0px;
}

.form-edit-product{
    padding: 20px 15px;
    max-width: 850px;
    margin-top: 30px;
    border-radius: 10px;
    
    border: 1px solid #377a76;
    
    color: #377a76;
    
}

.form-control{
    margin-bottom: 15px;
    width: 90%;
    margin: 15px auto;
}



.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.control{
    width: 100%;
    padding: 8px;
    color: #377a76;
}

.button-form:hover{
    background-color: rgba(66, 147, 142, 0.5);
 }

 .form-control-button{
    
    display: flex;
    justify-content: space-around;
}

.button-form{    
    background-color:#377a76;
    border: none;
    width: 30%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    color: white;
}

.control:focus{
    border: 2px solid rgba(65, 141, 136, 0.5);
}

table{
    width: 100%;
}

.medidas table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    
}

  th, td {
    padding: 5px;
    text-align: center;
  } */

article h4{
    display: none;
}


/* AQUI TERMINA MAIN */

/* ************************************ */
/* ==================================== */


/* AQUI INICIA FOOTER */

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.secion-footer{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    background-color: #42938E;
    width: 100%;
    padding: 15px;
}

/* .news-letter ul{
    text-decoration: none;
    list-style: none;
    text-align: left;
    color: white;
    font-size: 10px;
} */

/* .news-letter ul li{
    margin: 5px 0px ;
    
} */

.secion-footer a{
    color: white;
    
}

.social-media, .paid-method, .contact{
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
}

.social-media h5, .paid-method h5, .contact h5{
    margin-bottom: 5px;    
}

.social-media, .paid-method, .contact{
    flex-grow: 3;
}

div.contact{
    display: none;
}


/* AQUI TERMINA FOOTER */

/* ************************************ */
/* ==================================== */

/* AQUI INICIAN LOS MEDIAS QUERYS */

@media (min-width: 361px) {

    .logo img{
        width: 90px;
        transition: width, 0.5s;
        /* border-radius: 50%; */
    }

    .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }


    .products-hot, .table-responsive{
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .products-hot, .products-week{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 15px;

    }
    /* .product-detail h4{
        display: block;
        margin-top: 15px;
    } */    
    
    .img-description{
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .img-description h4:hover{
        opacity: 1;

    }

    .img-description h4{
        display: block;
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        color: white;
        margin: 0; 
        left: 0;
        top: 0;
        padding: 15px;
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 450ms;
    }  

    .products-hot article, .products-week article{
        box-shadow: 0px 2px 10px rgb(173 173 173);
        margin: 10px;
        width: 40%;
        transition: width, 0.5s;
    }

}

@media (min-width: 768px) {
    .login-menu-hamb{
        display: none;
    }

    .header-bottom{
        display: flex;
        margin: 0px 15px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav-top-bottom{
        display: block;
        position: relative;
        margin-left: 90px;
        padding-left: 10px;
        width: 60%;
        
    }

    .nav-top-bottom a{
        color: #666464;;
    }

    .cart-option-menu{
        text-align: center;
        width: 10%;
    }

    .cart-option-menu i{
        font-size: 30px;
        color: #42938E;
    }

    .content-menu-top-bottom{
        display: flex;
        justify-content: space-around;
    }

    .cart-option-menu{
        display: block;
    }
    
    .nav-create-login{
        position: relative;
        padding-left: 49px;
        flex-grow: 6;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .form-search{
        flex-grow: 4;
    }

    .products-hot article, .products-week article{
        width: 30%;
        transition: width, 0.5s;
        border-radius: 8px;
        max-height: 420px;
    }

    .description-new-sales{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        margin-top: 10PX;        
    }

    section .new-sales-note{
        width: 40%;
        
    }

    .products-new{
        padding: 0px;
        width: 50%;
    }

    footer .secion-footer h5{
        font-size: 18px;
    }

    footer .paid-method, .social-media i{
        font-size: 20px;
    }
   
    
    footer .contact, .social-media, .paid-method{
        display: block;
        width: 30%;
        
    }

    footer ul{
        list-style: none;
        text-align: justify;
    }

    footer ul li{
        padding: 5px;
    }

    footer .contact{
        padding-left: 30px;
    }
   
}

@media (min-width: 768px) {
    footer .secion-footer h5{
        font-size: 18px;
    }

    footer .paid-method, .social-media i{
        font-size: 20px;
    }
   
    
    footer .contact, .social-media, .paid-method{
        display: block;
        width: 30%;
        
    }

    footer ul{
        list-style: none;
        text-align: justify;
    }

    footer ul li{
        padding: 5px;
    }

    footer .contact{
        padding-left: 30px;
    }    
}
@media (min-width: 992px){
    .products-hot article, .products-week article{
        width: 20%;
    }  
}
@media (min-width: 1200px){
    .products-hot article, .products-week article{
        width: 16%;
    }  
}


/* AQUI TERMINAN LOS MEDIAS QUERYS */

/* buttons styles */

.btn{
    border: 0;
    height: 36px;
    min-width: 138px;
    width: auto;
    padding: 8px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.btn-icon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    max-width: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.btn a{
    width: 100%;
    color: #fff;
}
.btn:hover a{
    color: #42938e;;
}

.btn.btn-default{
    background-color: #42938e;
    color: #fff;
}
.btn.btn-default:hover {
    color: #42938e;
    background-color: #fff;
    border: 1px solid #42938e;
    transition: 0.5s;
}

/*btn danger style*/
.btn.btn-danger{
    background-color: #d7133a;
    color: #fff;
}

.btn.btn-danger:hover {
    transition: 0.5s;
    box-shadow: 0px 3px 6px 2px rgb(18 18 18 / 22%);
    position: relative;
    top: -1px;
    background-color: #7e081f;
}

/*btn secondary style*/
.btn.btn-secondary{
    background-color: #42938e;
    color: #fff;
}

.btn.btn-secondary:hover {
    color: #42938e;
    border: 1px solid #42938e;
    background-color: #fff;
    transition: 0.5s;
}
.btn.btn-secondary:hover i {
    color: #42938e;
}

/*button cancel style*/
.btn.btn-cancel{
    background-color: #828385;
    color: #fff;
}

.btn.btn-cancel:hover {
    transition: 0.5s;
    box-shadow: 0px 3px 6px 2px rgb(18 18 18 / 22%);
    position: relative;
    top: -2px;
    background-color: #424242;
}


.modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0000008c;
    z-index: 2;
    display: none;
}

.modal.show{
    display: block;
}
.modal.fade .modal-dialog{
    animation: fadeInTop 0.8s;
    -webkit-animation: fadeInTop 0.8s;
    -moz-animation: fadeInTop 0.8s;
    -o-animation: fadeInTop 0.8s;
    -ms-animation: fadeInTop 0.8s;
}
.modal.show .modal-dialog{
    animation: fadeIn 0.8s;
    -webkit-animation: fadeIn 0.8s;
    -moz-animation: fadeIn 0.8s;
    -o-animation: fadeIn 0.8s;
    -ms-animation: fadeIn 0.8s;
}

.modal-dialog{
    background-color: #fff;
    position: relative;
    margin: auto;
    max-width: 420px;
    margin-top: 20px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
}
.modal-dialog form{
    padding: 0;
    border: 0;
}
.modal .modal-title h2{
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 16px;
    padding-top: 20px;
    color: #666666;
    letter-spacing: 0.5px;
}
.modal.modal-danger .modal-title h2{
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 16px;
    padding-top: 20px;
    color: #d7133a;
    letter-spacing: 0.5px;
}

.modal .modal-body{
    padding: 26px 30px;
}
.modal .modal-body p{
    font-size: 20px;
    color: #2a2a2a;
    font-weight: 400;
}

.modal .modal-footer{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dfdfdf;
}
.modal .modal-footer .btn:first-child{
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-ms-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-moz-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-o-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-ms-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}
@keyframes fadeInTop {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-moz-keyframes fadeInTop {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-webkit-keyframes fadeInTop {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-o-keyframes fadeInTop {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

@-ms-keyframes fadeInTop {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    
      to {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
}

  