
/* Formulario de edicion de Productos */

main h2{
    color: #377a76;

}

.main-form{
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-form main{
    width: 60%;
    margin: 20px 0px;
}

.form-edit-product{
    padding: 20px 15px;
    max-width: 850px;
    margin-top: 30px;
    border-radius: 10px 10px 0px 0px;
    /* background-color: rgba(66, 147, 142, 0.3); */
    border: 1px solid #377a76;
    /* color: rgb(70, 69, 69); */
    color: #377a76;
    
}

.form-delete-product{
    padding: 20px 15px;
    max-width: 850px;
    border-radius: 0px 0px 10px 10px;
    /* background-color: rgba(66, 147, 142, 0.3); */
    border: 1px solid #377a76;
    /* color: rgb(70, 69, 69); */
    color: #377a76;
    
}

.form-control{
    margin-bottom: 15px;
    width: 90%;
    margin: 15px auto;
}



.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.control{
    width: 100%;
    padding: 8px;
    color: #377a76;
}

.button-form:hover{
    background-color: rgba(66, 147, 142, 0.5);
 }

 .form-control-button{
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}

.form-control-button-delete{
    text-align: center;
    
}

.button-form{    
    background-color:#377a76;
    border: none;
    width: 30%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    color: white;
}

.control:focus{
    border: 2px solid rgba(65, 141, 136, 0.5);
}

.precio{
    width: 35%;
}

table{
    width: 100%;
}

.medidas table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    
}

  th, td {
    padding: 5px;
    text-align: center;
  }

/* Fin de Formulario de edicion de Productos */ 

/*Listado de productos*/

.titile-table{
    padding: 20px;
}

.title-items td{
    color: #377a76;
    font-weight: bold;
}

table.table-product {
    table-layout: auto;
    overflow: auto;
    width: 90%;
    height: 500px;
    margin: 20px auto;
}

/*
table.table-product td:nth-child(2){
  width: 25%;

}
 
table.table-product td:nth-child(3){
    width: 25%;
}

table.table-product td:nth-child(4){
    width: 30%;
} */


table.table-product, th, td{
    border: 1px solid #377a76;
    border-collapse: collapse;
    color: #377a76;
    padding: 6px;  
}

table.table-product, th:nth-child(1), table.table-product, td:nth-child(1){
    min-width: 240px;    
}

table.table-product td{
    color: #377a76;
}


td img{    
    width: 25%;
}

.btn-editar-list{
    width: 100%;
    background-color: white;
    color: #377a76;
    border: none;
}

.btn-editar-list:hover{
    cursor: pointer;
}

.text-id-prod, .text-desc-prod, .text-price-prod,
.text-discount-prod, .text-stk-prod, .text-category-prod{
    border: none;
    color: #377a76;
}

.text-desc-prod, .text-price-prod,
.text-discount-prod, .text-stk-prod,
.text-desc-prod,.text-category-prod{
    padding: 0px 10px;
}

.text-id-prod{
    width: 15%;
}

.text-price-prod{
    text-align: center;
}

.text-discount-prod{
    width: 60%;
}

.text-stk-prod{
    text-align: center;
    width: 90%;
}




/* Fin de listado de productos*/