
/* Formulario de edicion de Productos */

main h2{
    color: #377a76;

}

.main-form{
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-form main{
    width: 60%;
    margin: 20px 0px;
}

.form-edit-product{
    padding: 20px 15px;
    max-width: 850px;
    margin-top: 30px;
    border-radius: 10px 10px 0px 0px;
    /* background-color: rgba(66, 147, 142, 0.3); */
    border: 1px solid #377a76;
    /* color: rgb(70, 69, 69); */
    color: #377a76;
    
}

.form-delete-product{
    padding: 20px 15px;
    max-width: 850px;
    border-radius: 0px 0px 10px 10px;
    /* background-color: rgba(66, 147, 142, 0.3); */
    border: 1px solid #377a76;
    /* color: rgb(70, 69, 69); */
    color: #377a76;
    
}

.form-control{
    margin-bottom: 15px;
    width: 90%;
    margin: 15px auto;
}



.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.control{
    width: 100%;
    padding: 8px;
    color: #377a76;
}

.button-form:hover{
    background-color: rgba(66, 147, 142, 0.5);
 }

 .form-control-button{
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}

.form-control-button-delete{
    text-align: center;
    
}

.button-form{    
    background-color:#377a76;
    border: none;
    width: 30%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    color: white;
}

.control:focus{
    border: 2px solid rgba(65, 141, 136, 0.5);
}

.precio{
    width: 35%;
}

table{
    width: 100%;
}

.medidas table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    
}

  th, td {
    padding: 5px;
    text-align: center;
  }

/* Fin de Formulario de edicion de Productos */ 

/*Listado de productos*/

.titile-table{
    padding: 20px;
}

.title-items td{
    color: #377a76;
    font-weight: bold;
}

table.table-product {
    table-layout: auto;
    overflow: auto;
    width: 90%;
    height: 500px;
    margin: 20px auto;
}

/*
table.table-product td:nth-child(2){
  width: 25%;

}
 
table.table-product td:nth-child(3){
    width: 25%;
}

table.table-product td:nth-child(4){
    width: 30%;
} */


table.table-product, th, td{
    border: 1px solid #377a76;
    border-collapse: collapse;
    color: #377a76;
    padding: 6px;  
}

table.table-product, th:nth-child(1), table.table-product, td:nth-child(1){
    min-width: 240px;    
}

table.table-product td{
    color: #377a76;
}


td img{    
    width: 25%;
}

.btn-editar-list{
    width: 100%;
    background-color: white;
    color: #377a76;
    border: none;
}

.btn-editar-list:hover{
    cursor: pointer;
}

.text-id-prod, .text-desc-prod, .text-price-prod,
.text-discount-prod, .text-stk-prod, .text-category-prod{
    border: none;
    color: #377a76;
}

.text-desc-prod, .text-price-prod,
.text-discount-prod, .text-stk-prod,
.text-desc-prod,.text-category-prod{
    padding: 0px 10px;
}

.text-id-prod{
    width: 15%;
}

.text-price-prod{
    text-align: center;
}

.text-discount-prod{
    width: 60%;
}

.text-stk-prod{
    text-align: center;
    width: 90%;
}




/* Fin de listado de productos*/


/*products search*/

.products-search{
    justify-content: center;
    min-height: 480px;
}
.products-search article{
    width: 18%;
}
.products-search .img-noresult{
    width: 100%;
    max-width: 840px;
    margin-bottom: 40px;
    margin: auto;
}


/* detalles de producto */
.main-product-detail .back-login{
  display: flex;
  height: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  width: 100%;
  flex-wrap: wrap;
  justify-content:space-between;
  background-color:rgba(66, 147, 142, 0.3);
}
.main-product-detail .button-form-volver{
    width: 9vw;
    height: 4vh;
    border-radius: 15px;
    color: grey;
    background-color: white;
    text-align: center;
    justify-content: flex-start;
}
.main-product-detail .button-form-login{
    width: 9vw;
    height: 4vh;
    border-radius: 15px;
    color: grey;
    background-color: white;
    text-align: center;
    justify-content: flex-end;
}
.main-product-detail .button-form-seg-comp:hover, .button-volver:hover,.button-form-login:hover,.button-form-volver:hover{
    background-color:#42938E;
    color: white;
}
.main-product-detail .main-product{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    justify-content:space-between;
}
.main-product-detail .detalle-producto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.main-product-detail .detalle-producto article{
    width: 100%;
    display: flex;
}
.main-product-detail .articulo-elegido{
    max-width: 420px;
    width: 100%;
    max-height: 420px;
     object-fit: contain;
    object-position: center;
    overflow: hidden;
}
.main-product-detail .articulo-elegido img{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.main-product-detail .caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 3px;
    background-color:#FFFFFF;
    width: 100%;
}
.main-product-detail .descripcion-articulo{
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    border-radius: 5px;
    margin-right: 120px;
    margin-left: 1px;
}
.main-product-detail .descripcion{
    font-size: 20px;
    color: #424242;
    line-height: 25px;
}
.main-product-detail .opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-product-detail .opciones .medidas{
    display: flex;
    justify-content: space-evenly;
}
.main-product-detail .button-form-agregar{
    background-color: #42938E;
    color: white;
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
}
.main-product-detail .button-form-agregar:hover{
    color:black;
    background-color: rgba(66, 147, 142, 0.3);
}
.main-product-detail .button-form-medios:hover{
    color: white;
    background-color: grey;
}
.main-product-detail .button-form-medios{
    color: black;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin: auto;
    font-style: italic;
    text-decoration: underline;
}
.main-product-detail .medios-de-pago{
    display: flex;
    text-decoration: underline;
    font-style: italic;
    flex-direction: column;
    max-width: 520px;
    margin-left: auto;
}
.main-product-detail .tarjetas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.main-product-detail .tarjetas i{
    font-size: 20px;
    color:#424242;
}
.main-product-detail .envios{
    text-align: center;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
}
.main-product-detail .envios i{
    color:#42938E;
    font-size: 20px;
    margin-left: 10px;
}


.main-form .main-product-detail{
    max-width: 1020px;
    background-color: #ffff;
    box-shadow: 0px 0px 14px 2px rgb(66 147 142 / 25%);
    border-radius: 10px;
    margin: 0;
    margin-top: 40px;
    align-items: flex-start;
    min-height: auto;
}
.main-form .main-product-detail .footer-buttons{
    margin-top: 40px;
    justify-content: flex-end;
    display: flex;
}
.main-form .main-product-detail .footer-buttons button{
    margin: 0 5px
}