

/*Mensaje de error*/
.is-danger{
    color: rgb(201, 25, 25);
}


/* Formulario de edicion
 de Productos */


main h2{
    color: #377a76;

}
.main-form{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    padding-bottom: 200px;
}

.main-form main{
    width: 100%;
    padding: 20px;
    max-width: 850px;
    min-height: 620px;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
    height: 350px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #377a76;
    color: #377a76;
    
}

.form-register{
    padding: 20px 15px;
    max-width: 850px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #377a76;
    color: #377a76;

}

.form-control{
    margin-bottom: 15px;
    width: 90%;
    margin: 15px auto;
}

.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.control{
    width: 100%;
    padding: 8px;
    color: #377a76;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
}

.button-form:hover{
    background-color: rgba(66, 147, 142, 0.5);
 }

 .form-control-button{
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
}

.button-form{    
    background-color:#377a76;
    border: none;
    width: 30%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    color: white;
}

.control:focus{
    outline: 0;
    border: 2px solid rgba(65, 141, 136, 0.5);
}

.recordame{
    margin: 15px 40px;
}

a{
    list-style: none;
    text-decoration: none;
    color: #42938E;
    font-weight: bold;
}

is-invalid:focus{
    border-color:#dc3545;
    box-shadow:0 0 0 .25rem rgba(220,53,69,.25);
    padding-right:calc(1.5em + .75rem);
    background-position:top calc(.375em + .1875rem) right calc(.375em + .1875rem);
    
    background-position:right .75rem center,center right 1.75rem;
    background-size:16px 12px,calc(.75em + .375rem) calc(.75em + .375rem);


    border-color:#dc3545;
    box-shadow:0 0 0 .25rem rgba(220,53,69,.25)
}

.text-danger{
    color: rgb(248, 66, 66);    
    margin-top: 5px;
}
/* Fin de Formulario de edicion de login */  

/* User form */

.container-form{
    max-width: 750px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #377a76;
}

.container-form .row-form{
    display: flex;
}

.container-form .col-form{
    width: 50%;
}

.container-form .col-form input{
    max-width: 450px;
    width: 100%;
}

/*table user*/

table.table-user {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
table.table-user thead tr th:first-child {
    border-radius: 8px 0 0 0;
}
table.table-user thead tr th:last-child {
    border-radius: 0 8px 0 0;
}

 table.table-user thead tr th {
    background-color: #42938E;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-color: transparent;
}
 table.table-user th {
    width: 280px;
}
 table.table-user tbody tr td .btn-times:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    display: block;
    color: #d7133a;
    font-size: 22px;
    background-size: 100%;
    line-height: 1.2;
}
 table.table-user tbody tr td .btn-edit i {
    color: rgb(68, 68, 68);
    font-size: 20px;
}
 table.table-user th:nth-child(3) {
    width: 180px;
}

.user-list{
    max-width: 1440px;
    margin: auto;
}