<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-form">  
        <main>
            <h2>Login</h2>            
                <form action="/" method="POST" class="form-login">
                    <div class="form-control">
                        <input type="text" name="nombre-user" id="nombre-user" class="control" placeholder="Ingrese su usuario" required>
                    </div>
                    <div class="form-control">
                        <input type="password" name="pass-user" id="pass-user" class="control" placeholder="Ingrese su contraseña" required>
                    </div>
                    
                    <div class="form-control-button">
                        <button type="submit" class="button-form">Login</button>
                        <button type="reset" class="button-form">Borrar</button>
                    </div>
                </form>            
        </main>
    </div>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>