<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-form"> 
        <main> 
            <h2>Registro de Usuario</h2>   
            <form action="/" method="POST" class="form-register" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="nombre-apellido">Nombre y apellido</label>
                    <input type="text" name="nombre-apellido" id="nombre-apellido" class="control" required>
                </div>
                <div class="form-control">
                    <label for="user-email">Email</label>
                    <input type="email" name="user-email" id="user-email" class="control" required>
                </div>
                <div class="form-control">
                    <label for="telefono">Teléfono</label>
                    <input type="number" name="telefono" id="telefono" class="control" required>
                </div>
                <div class="form-control">
                    <label for="user-fecha">Fecha de nacimiento</label>
                    <input type="date" name="user-fecha" id="user-fecha" class="control">
                </div>
                <div class="form-control">
                    <label for="imageUser" class="control">Seleccione Imagen</label>
                    <input type="file" name="imageUser" id="imageUser" 
                    accept="image/png, image/jpeg">                    
                </div>
                <div class="form-control">
                    <label for="user-pass">Contraseña</label>
                    <input type="password" name="user-pass" id="user-pass" class="control" required>
                </div>
                <div class="form-control">
                    <label for="confirm-pass">Confirmar contraseña</label>
                    <input type="password" name="confirm-pass" id="confirm-pass" class="control" required>
                </div>
                <div class="form-control-button">
                    <button type="submit" class="button-form">Guardar</button>
                    <button type="reset" class="button-form">Borrar</button>
                </div>
            </form>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>