<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-form"> 
        <main> 
            <h2>ProcFile de Usuario</h2>
              
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse, ullam iure nostrum id minus aperiam hic iusto provident doloremque quisquam incidunt laboriosam vitae, dolorem consequatur maxime laudantium deleniti unde!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eos aperiam ducimus dolor, autem quos illo quam nemo, alias, nobis adipisci nihil corrupti natus hic error at aliquam iste similique!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dicta blanditiis consequuntur aliquam, aperiam velit officia voluptates, aliquid omnis cum rem. Ullam vitae esse officia iure natus, quasi iusto praesentium?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sed eveniet eaque voluptatum praesentium natus vero atque rerum alias tempora vitae quia, magni debitis voluptates ea officia distinctio reprehenderit expedita?
                </p>
            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>