<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <div class="main-form">
    <!-- <div class="form-register"> -->

 <main>
    <div class= "back">
        <button type="submit" class="button-volver">Volver</button>
    </div>
    <div class="main-cart">
        <div class="title">
          <h2>Carrito de compras</h2>
           <div class="circle-env">
            <i class="fas fa-shopping-cart"></i>
           </div>
        </div>
            <nav>
               <div class="barra-caracteristicas">
                    <p>Color</p>
                    <p>Cantidad</p>
                    <p>Precio</p>
                    <p>Subtotal</p>
               </div>
            </nav>
            <section>  
                <article>
                    <div class="contenedor-articulo1">
                        <div class="contenedor-imagen1">                       
                            <div class="articulo-uno">         
                               <img src="\images\imaen ducha.jpg" alt="Ducha">
                            </div> 
                            <div>
                                <p>Ducha para baño</p>
                            </div>
                        </div>
                        <div class="caract-elegidas">
                           <p class="color">Plateado</p> 
                           <p class="cantidad">1</p>                          
                           <p class="precio">$18.000</p>
                           <p class="subtotal">$18.800</p>
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <div class="contenedor-articulo2">
                        <div class="contenedor-imagen2"> 
                            <div class="articulo-dos">
                              <img src="/images\sillon 2 cuerpos.png" alt="Sillon">
                            </div> 
                            <div>
                                <p>Sillón dos cuerpos</p>
                            </div>                       
                        </div>
                        <div class="caract-elegidas">
                            <p class="color">Beige</p> 
                            <p class="cantidad">1</p>                          
                            <p class="precio">$35.000</p>
                            <p class="subtotal">$35.800</p>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="contenedor-articulo3">
                        <div class="contenedor-imagen3"> 
                            <div class="articulo-tres">
                               <img src="/images\mueble cocina.jpg" alt="Mueble">
                            </div>
                            <div>
                                <p>Mueble para cocina</p>
                            </div> 
                        </div>
                        <div class="caract-elegidas">          
                            <p class="color">Celeste</p> 
                            <p class="cantidad">1</p>           
                            <p class="precio">$12.000</p>
                            <p class="subtotal">$12.800</p>
                        </div>
                </article>
                <div class="seguir-comprando">
                    <button type="submit" class="button-form-seg-comp">Seguir comprando +</button>
                </div>
            </section>
    </div>
 </main>
<%- include('../partials/footer.ejs') %> 
</body>
</html>