<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Eliminar producto</h1>
    <form action="/producto/delete/<%= oneProduct.id %>" method="POST"></form>
    <button type="submit" class="button-form">Eliminar</button>
</body>
</html>